* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-weight: bold;
    font-size: 1.8em;
    color: #565A78;
    text-decoration: none;
}

.logo:hover {
    color: #8084ac;
}

.nav-link {
    font-weight: bold;
    color: #565A78;
}

.nav-link:hover {
    color: #8084ac;
}

.navbar-toggler:focus {
    text-decoration: none;
    box-shadow: none;
}

.ham {
    color: #565A78;
    font-size: 1.3em;
}

.ham-footer {
    color: #fff;
    font-size: 1.3em;
}

.section-main {
    background-color: #515A79;
}

.text-purple {
    color: #565A78;
}

.bg-purple {
    background-color: #515A79;
}

.bg-purple-dark {
    background-color: #484f6a;
}

.btn-success-light {
    background-color: #7DDE99;
}

.btn-success-light:hover {
    background-color: #75d08e;
}

.b-img {
    width: 200px;
}

@media (max-width: 767px) {
    .logo-about {
        margin: 30px;
    }
}